body {
    padding-top: 60px;
    background-color: #535670;
}
.container {
    width: 700px;
    background-color: #FFFFFF;
}

/** Fancy links ***************************************************************/

a.mailto {
    padding-left: 20px;
    background: transparent url(../icons/fugue/mail.png) center left no-repeat;
}
