/***
 * Ocean Five palette
 * http://www.colourlovers.com/palette/1473/Ocean_Five
 *
 * Blue:    #00A0B0 (  0, 160, 176)
 * Brown:   #6A4A3C (106,  74,  60)
 * Red:     #CC333F (204,  51,  63)
 * Orange:  #EB6841 (235, 104,  65)
 * Yellow:  #EDC951 (237, 201,  81)
 */

html {
    background: #00A0B0;
    height: 100%;
}

body {
    min-height: 100%;
    background: white;
    padding-top: 60px;
    width: 900px;
    margin: auto;
}

.container {
    width: 700px;
}

body, footer {
    background-color: white;
}

/** Default page styles********************************************************/

h1, h2, h3, h4, h5, h6 {
    color: #CC333F;
}

a, a:hover {
    color: #EB6841;
}

/** Fancy links ***************************************************************/

a.mailto {
    padding-left: 20px;
    background: transparent url(../images/icons/mail.png) center left no-repeat;
}

a.twitter {
    padding-left: 20px;
    background: transparent url(../images/icons/twitter.png) center left no-repeat;
}
